.thanks__content {
  text-align: center;
  max-width: 1230px;
  height: 600px;
  padding-top: 25%;
}
.form__button {
  width: 10%;
  height: 30px;
  border: none;
  background: #BAA899;
  cursor: pointer;
  color: white;
  margin: 0 auto;
}
.link{
  text-decoration: none;
  color: inherit;
}
.thanks__heading {
  position: relative;
  color: #BAA899;;
}
.thanks__heading::before {
  content: "Thank you";
  color: #F9F8F7;
  font-size: 200px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0,-50%);
  width: 100%;
  z-index: -10;
  white-space: nowrap;
}